main h1{
    margin-top: 0;
    padding: 10px 0;
}
main{
    width: 90%;
    text-align: center;
}
main img{
    width: 100%;
    padding: 10px;
    height: 70vh;
}
main h2{
    padding: 10px;
}
button{
    position: absolute;
    top: 70px;
    left: 20%;
}